/* Set background */
.about-page {
    background-image: url('./resources/000072890021.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}

.profile-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: -1;
}

.profile-img {
    width: 32rem; 
    height: auto;
    border-radius: 20px;
}

.text-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 15px;
    margin: 9.81rem 5rem 0;
}

.sentence-one.container {
    grid-column: 2 / 13;
}

.sentence-two.container {
    grid-column: 5 / 13;
    padding-left: 15rem;
    margin-top: 2.775rem;
}

.sentence.two {
    text-align:right;
}

.sentence-three.container {
    grid-column: 2 / 13;
    padding-right: 35rem;
    margin-top: 2.775rem;
}

.sentence h1 {
    font-size: 6rem;
    font-weight: 600;
    line-height: 7rem;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}