body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(./resources/homepage-background.jpg) no-repeat bottom left / 125%;
    min-height: 100vh;
    color: #F6F2E6;
    overflow: hidden;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(300, 2%, 8%, 0.60); 
    z-index: 0; 
}

#hero, .site-header, #footer-container {
    position: relative;
    z-index: 1;
}

#index-header {
    backdrop-filter: none;
    background: none;
}

#hero {
    display: flex;
    justify-content: center;

}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-container, .bio-container, .divider-container {
    margin-bottom: 1.5rem;
}

.title-container h1 {
    font-size: 10rem;
    font-style: normal;
    font-weight: 900;
}

.bio-container {
    text-align: center;
    max-width: 100rem;
}

#bio {
    font-size: 1.6875rem;
}

#highlight {
    color: #F49B2F;
    font-family: "Zodiak Variable";
    font-style: italic;
    font-weight: 800;
}

.divider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#divider {
    width: 2px;
    height: 12rem;
    background-color: #F6F2E6;
}

#whyBtn {
    display: flex;
    width: 13.125rem;
    padding: 1.1875rem 2.6875rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 3.125rem;
    border: 2px solid #F6F2E6;
    font-size: 1.5rem;
    background: rgba(20, 18, 28, 0.30);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);  
    transition: color 0.4s ease-in-out, background 0.4s ease-in-out, border 0.4s ease-in-out;
}


#whyBtn:hover {
    color: #14121C;
    border: 2px solid #14121C;
    background: rgba(246, 242, 230, 0.90);
}

#whyBtn:active {
    background-color: #F49B2F;
}

#footer-container {
    position: absolute;
    bottom: 0;
}



/* General / Background */
@media (max-width: 1340px), (min-width: 1341px) {
    body {
        background: url(./resources/homepage-background.jpg) no-repeat center / cover;
    }
}

/* Large Laptops */

@media (max-width: 1440px) {
    .title-container h1 {
        font-size: 8rem;
    }

    .bio-container {
        padding: 0 1.5rem;
    }

    #divider {
        height: 8rem;
    }
}

/* Small Laptops */

@media (max-width: 1024px) {
    .title-container h1 {
        font-size: 6rem;
    }

    #bio {
        font-size: 1.3rem;
    }

    #divider {
        height: 6rem;
    }
}

/* Tablets */

@media (max-width: 768px) {
    .title-container h1 {
        font-size: 4rem;
    }
}

/* Phone */

@media (max-width: 480px ) {
    .title-container h1 {
        font-size: 3rem;
    }

    #bio {
        font-size: 1.1rem;
    }

    #whyBtn {
        font-size: 1rem;
        width: 11rem;
        
    }
}

@media (max-width: 356px) {
    .title-container h1 {
        font-size: 2rem;
    }
}