body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: url(./resources/homepage-background.jpg) no-repeat bottom left / 125%;
    min-height: 100vh;
    color: #F6F2E6;
    overflow: hidden;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(300, 2%, 8%, 0.50); 
    z-index: 0; 
}

#content, .site-header, .btn-container, footer {
    position: relative;
    z-index: 1;
}

#index-header {
    backdrop-filter: none;
    background: none;
}

/*Check header.css for Heading and Nav info*/

/*Hero Section*/

#hero {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
}

#content h1 {
    font-size: 8rem;
    font-weight: 900;
    text-align: center;
}

.description {
    display: flex;
    padding: 0.625rem 26.375rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

.description p {
    text-align: center;
    font-size: 1.6875rem;
}

.divider {
    width: 0.125rem;
    height: 6rem;
    margin-top: 2rem;
    background-color: #F6F2E6;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    align-items: center;
}

.btn {
    display: flex;
    width: 13.125rem;
    padding: 1.1875rem 2.6875rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 3.125rem;
    border: 2px solid #F6F2E6;
    font-size: 1.5rem;
    background: rgba(20, 18, 28, 0.30);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);  
    transition: color 0.4s ease-in-out, background 0.4s ease-in-out, border 0.4s ease-in-out;
}

.btn:hover {
    color: #14121C;
    border: 2px solid #14121C;
    background: rgba(246, 242, 230, 0.90);

}

footer {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    padding: 1rem;
}

.phrase {
    font-family: 'Zodiak';
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
    color: hsla(33, 90%, 57%, 0.76)
}