body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./resources/homepage-background.jpg);
    height: 100vh;
    background-size: 125%;
    background-position: bottom left;
    background-repeat: no-repeat;
    color: #F6F2E6;
    overflow: hidden;
}

/*Check header.css for Heading and Nav info*/

/*Hero Section*/

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content h1 {
    font-size: 8rem;
    font-weight: 900;
    text-align: center;
}

.description {
    display: flex;
    padding: 0.625rem 26.375rem;
    justify-content: center;
    align-items: center;
    background: rgba(20, 20, 20, 0.25);
    gap: 0.625rem;
}

.description p {
    text-align: center;
    font-size: 1.6875rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-container {
    display: inline-flex;
    justify-content: center;
    margin-top: 4.1rem;
    align-items: center;
    gap: 1.0625rem;
}

.btn {
    display: flex;
    width: 13.125rem;
    padding: 1.1875rem 2.6875rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 3.125rem;
    border: 2px solid #F6F2E6;
    font-size: 1.5rem;
    background: rgba(20, 18, 28, 0.30);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);  
    transition: color 0.4s ease-in-out, background 0.4s ease-in-out, border 0.4s ease-in-out;
}

.btn:hover {
    color: #14121C;
    border: 2px solid #14121C;
    background: rgba(246, 242, 230, 0.90);

}